{% extends 'base.html' %}

{% block content %}

<h2 class="title" style="text-align:center;">{% block title %} Page for visualization workflow in data pipeline with
    glue services{%
    endblock %}</h2>
<br>
<p style="text-align:center;">
    <img src="{{url_for('static', filename='pipeline/func-diagram-data-pipeline.png')}}" width="1000" height="400" />
</p>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <h5 style="text-align:center;">Creating database</h5>
            <p style="text-align:center;">
                <img src="{{url_for('static', filename='pipeline/create_database.png')}}" alt="create database"
                    class="center" width="1000" height="400">
            </p>
        </div>
        <div class="carousel-item">
            <h5 style="text-align:center;">Creating crawlers for csv file and parquet for next steps</h5>
            <p style="text-align:center;">
                <img src="{{url_for('static', filename='pipeline/create_crawlers.png')}}" alt="create crawlers"
                    class="center" width="1000" height="400">
            </p>
        </div>
        <div class="carousel-item">
            <h5 style="text-align:center;">Creating table with crawler from csv file</h5>
            <p style="text-align:center;">
                <img src="{{url_for('static', filename='pipeline/create_csv_table.png')}}"
                    alt="create table from csv file" class="center" width="1000" height="400">
            </p>
        </div>
        <div class="carousel-item">
            <h5 style="text-align:center;">Creating job for count users job titles with sex data and save result i
                parquet file</h5>
            <p style="text-align:center;">
                <img src="{{url_for('static', filename='pipeline/job_count.png')}}" alt="jon count sex" class="center"
                    width="1000" height="400">
            </p>
        </div>
        <div class="carousel-item">
            <h5 style="text-align:center;">Creating job for select columns from table and save result i parquet file
            </h5>
            <p style="text-align:center;">
                <img src="{{url_for('static', filename='pipeline/job_user_data.png')}}" alt="job select columns"
                    class="center" width="1000" height="400">
            </p>
        </div>
        <div class="carousel-item">
            <h5 style="text-align:center;">Creating job for reaname column title and select columns from table, next
                save result i parquet file</h5>
            <p style="text-align:center;">
                <img src="{{url_for('static', filename='pipeline/job_user_names.png')}}"
                    alt="job reaneme and select columns" class="center" width="1000" height="200">
            </p>
        </div>
        <div class="carousel-item">
            <h5 style="text-align:center;">Creating trigger for run jobs in schedule</h5>
            <p style="text-align:center;">
                <img src="{{url_for('static', filename='pipeline/create_trigger.png')}}" alt="create trigger"
                    class="center" width="1000" height="400">
            </p>
        </div>
        <div class="carousel-item">
            <h5 style="text-align:center;">Creating Lambda and connect with SQS trigger</h5>
            <p style="text-align:center;">
                <img src="{{url_for('static', filename='pipeline/lambda_sqs.png')}}" alt="lambda connect sqs"
                    class="center" width="1000" height="400">
            </p>
        </div>
        <div class="carousel-item">
            <h5 style="text-align:center;">Creating Lambda function for read event and load json from s3</h5>
            <p style="text-align:center;">
                <img src="{{url_for('static', filename='pipeline/lambda_read_json.png')}}" alt="lambda read json"
                    class="center" width="1000" height="400">
            </p>
        </div>
        <div class="carousel-item">
            <h5 style="text-align:center;">Uploading Lambda function for create dataframe and save data in parquet file
            </h5>
            <p style="text-align:center;">
                <img src="{{url_for('static', filename='pipeline/lambda_write_parquet.png')}}"
                    alt="lambda write parquet" class="center" width="1000" height="400">
            </p>
        </div>
        <div class="carousel-item">
            <h5 style="text-align:center;">Write parquet file into s3 bucket</h5>
            <p style="text-align:center;">
                <img src="{{url_for('static', filename='pipeline/s3_all_files.png')}}" alt="s3 all files" class="center"
                    width="1000" height="400">
            </p>
        </div>
        <div class="carousel-item">
            <h5 style="text-align:center;">Creating function for read parquet file from s3</h5>
            <p style="text-align:center;">
                <img src="{{url_for('static', filename='pipeline/read_parquet.png')}}" alt="read parquet from s3"
                    class="center" width="1000" height="400">
            </p>
        </div>
        <div class="carousel-item">
            <h5 style="text-align:center;">Printing data on console</h5>
            <p style="text-align:center;">
                <img src="{{url_for('static', filename='pipeline/result_parquet.png')}}" alt="result data from parquet"
                    class="center" width="1000" height="400">
            </p>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock %}